.about-wrapper{
  position: relative;
  padding: 60px;
  background: var(--partly-bg-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-self: center;
}

.about-wrapper .content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border: 2px solid var(--nature-green);
  padding: 20px;
  border-radius: 8px;
  background: var(--white-writing);
}

.content-box h3{
  font-size: 2rem;
  padding-bottom: 20px;
  color: var(--nature-green);
  text-align: center;
}

.content-box h3 i{
  color: var(--main-color-theme);
}

.content-box p{
  color: var(--black-writing);
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  border: 1.5px solid var(--nature-green);
  border-radius: 5px;
}


/*MEDIA QUERY*/
@media (max-width: 400px) {
  .about-wrapper{
    padding: 30px 8px;
  }
}
