.mission-section{
  position: relative;
  width: 100%;
  margin-top: 2%;
  padding: 20px 6%;
  border-radius: 8px;
  border: 3px solid var(--nature-green);
}

.mission-section h3{
  text-align: center;
  font-size: 2.3rem;
  color: var(--main-color-theme);
}

.mission-section .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid var(--nature-green);
}

.container .content,
.container .image{
  position: relative;
  flex: 1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .content p{
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color-theme);
}

.content .mission-list{
  font-size: 1.1rem;
  color: var(--black-writing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.content .mission-list li{
  position: relative;
  padding-left: 1.8em;
  margin-bottom: 10px;
}

.content .mission-list li::before{
  position: absolute;
  left: 0;
  width: .8em;
  height: .8em;
  display: block;
  content: "";
  background: var(--nature-green);
  border-radius: 50%;
  top: 0;
  padding: 5px;
}

.content .mission-list li::after{
  position: absolute;
  display: block;
  content: "";
  width: .3em;
  height: .6em;
  border: solid var(--white-writing);
  border-width: 0 .200em .200em 0;
  left: .45em;
  top: 20%;
  transform: rotate(45deg);
}

.container .image img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.content .btn{
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn a{
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  background: var(--main-color-theme);
  color: var(--white-writing);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1.5px solid var(--main-color-theme);
  overflow: hidden;
  transition: .5s ease-in-out;
}

.btn a:hover{
  color: var(--main-color-theme);
  background: var(--white-writing);
  letter-spacing: 1px;
}






/*MEDIA QUERY*/

@media (max-width: 950px) {
  .container .content,
  .container .image{
    flex: 100%;
  }
  .container .content p{
    font-size: 1rem;
  }
}

@media (max-width: 676px) {
  .btn a{
    font-size: 1rem;
  }
}

@media (max-width: 352px) {
  .content .mission-list li::after{
    top: 10%;
  }
}