.about-wrapper{
  position: relative;
  padding: 60px;
  background: linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, .5));
}

.about-wrapper .content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.content-box h3{
  font-size: 2rem;
  padding-bottom: 20px;
  color: var(--nature-green);
}

.content-box h3 i{
  color: #fff;
}

.content-box p{
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 400px) {
  .about-wrapper{
    padding: 8px;
  }
}
