@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

:root{
  --main-color-theme: #416d19;
  --nature-green: #8dc44d;
  --partly-bg-color: #f5f5f5;
  --black-writing: #333;
  --white-writing: #fff;
}

.App{
  position: relative;
}










@media only screen and (max-width: 600px) {
  .App{
    padding: 52% 3% 0;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .App{
    padding: 15% 3% 0;
  }
}

/* Laptops and desktops */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .App{
    padding: 13% 3% 0;
  }
}

/* Large desktops and 4K monitors */
@media only screen and (min-width: 1201px) {
  .App{
    padding: 8% 3% 0;
  }
}