@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Robotic", sans-serif;
}

:root{
  --nav-content-color: #416d19;
  --main-color-theme: #1a5319;
  --nature-green: #8dc44d;
  --partly-bg-color: #f5f5f5;
  --writing-color: #030303;
}

.App{
  position: relative;
}










@media only screen and (max-width: 600px) {
  .App{
    padding: 28% 3% 0;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .App{
    padding: 15% 3% 0;
  }
}

/* Laptops and desktops */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .App{
    padding: 13% 3% 0;
  }
}

/* Large desktops and 4K monitors */
@media only screen and (min-width: 1201px) {
  .App{
    padding: 8% 3% 0;
  }
}